html {
  font-size: 18px;
  font-family: helvetica;
  background-color: black;
  color: white;
}

h1 {
  font-size: 2rem;
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 960px;
  align-items: center;
}

.logo {
  height: 1.5rem;
  padding: 0 0.5rem;
}

header span {
  padding: 0.66rem 0.5rem;
}

.arrival {
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.arrivalcontainer {
  width: 960px;
  height: 25rem;
}

.arrivalbanner {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  background-color: black;
  padding: 2rem 3rem;
  width: 25rem;
  font-weight: bold;
}

.arrivalbanner p {
  padding-bottom: 0.25rem;
}

.navigation {
  background-color: firebrick;
}

.navigationcontainer {
  justify-content: space-between;
  padding: 0.75rem 0rem;
}

.product {
  background-color: white;
}

.productcontainer {
  justify-content: space-between;
  padding: 3rem 0rem;
}

.imagecontainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
  align-items: center;
}

.imagecontainer2 {
  display: flex;
  height: 9rem;
  width: auto;
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
}

.imagecontainer img {
  max-width: 8rem;
}

.imagecontainer p {
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
}

.info {
  background-color: white;
  color: black;
}

.infocontainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.infocontentcontainer {
  width: 35%;
}

.infotitlecontainer {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

footer {
  height: 5rem;
}
